# Don't track content of these folders
/redux-advanced/node_modules/
/adding-middleware/node_modules/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.lnk

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip